### Student Task 1:
- Create a list of 6 countries and print the third one.
- Example: countries = ['A', 'B', ...]

In [ ]:
country_names = ['Pakistan', 'India', 'Bangladesh', 'China', 'Iran', 'South Korea']

country_names[2]
# or comment the first one and run the bellow
print("Third Country in this List is", country_names[2])

Third Country in this List is Bangladesh

### Student Task 2:
- Create a list of 8 numbers and print all numbers from index 2 to 6 (inclusive of start, exclusive of end as usual).

In [4]:
num_list = [1,2,3,4,5,6,7,8]

num_list[2:7]

[3, 4, 5, 6, 7]

### Student Task 3:
- Store 5 favorite movies in a list and change the last one to a new movie.

In [5]:
fav_movies = ["John Vick", "Animal", "resident Evil", "Graphic Desire", "final Destination"]

fav_movies[4] = "Last Blood"

fav_movies

['John Vick', 'Animal', 'resident Evil', 'Graphic Desire', 'Last Blood']

### Student Task 4:
- Create a list of 7 temperatures and print the last two using negative indexing.

In [8]:
temp_in_centigrade = [25, 45, 56, 12, -1, -12, 0, 33]

# print(temp_in_centigrade[-1])
# print(temp_in_centigrade[-2])

temp_in_centigrade[-2::]

[0, 33]

### Student Task 5:
- Make a nested list containing 3 lists and access the second element of the second list.

In [9]:
nested_list = [['Rizwan Ahmed', 'Affan Ahmed', ], ['Mango', 'Apple', 'Banana'], [1,2,3,4,5,6]]


nested_list[1][1]

'Apple'