### Task 1
-- Create a list of 5 student names.

- Add a new student using append().
- Insert one name at index 2.
- Remove one name using remove().
- Finally, sort the list.

In [2]:
student_names = ["Ali", "Adnan", "Shahid", "Hafiz", "Noman"]

student_names.append("Rizwan")

student_names

['Ali', 'Adnan', 'Shahid', 'Hafiz', 'Noman', 'Rizwan']

In [3]:
student_names.insert(2, "Nabeel")

student_names

['Ali', 'Adnan', 'Nabeel', 'Shahid', 'Hafiz', 'Noman', 'Rizwan']

In [4]:
student_names.remove("Hafiz")

student_names

['Ali', 'Adnan', 'Nabeel', 'Shahid', 'Noman', 'Rizwan']

In [6]:
student_names.sort()
student_names

['Adnan', 'Ali', 'Nabeel', 'Noman', 'Rizwan', 'Shahid']

### Task 2

-- Student Tasks (Without Solutions) Try these tasks on your own:
- Create a list of numbers and use pop() to remove the last two items.
- Make a list of 5 countries. Use insert() to add one at index 3, then use count() to count a specific country.
- Create a list of integers. Use sort() and then reverse() to show them in descending order.
- Use copy() to duplicate a list. Change one element in the copy and show that the original list remains unchanged.
- Combine two lists of fruits and vegetables and check if 'apple' is present in the combined list.

In [7]:
nums = [1,2,3,4,5,6,7,8]

nums.pop()
nums.pop()
nums

[1, 2, 3, 4, 5, 6]

In [ ]:
country_names = ['Pakistan', 'Bangladesh', 'China', 'Iran', 'South Korea']

country_names.insert(3, "India")

print(country_names)

['Pakistan', 'Bangladesh', 'China', 'India', 'Iran', 'South Korea']

In [11]:
copied_country_names = country_names.copy()

copied_country_names[2] = "Saudi Arabia"

print(country_names)
print(copied_country_names)

['Pakistan', 'Bangladesh', 'China', 'India', 'Iran', 'South Korea']
['Pakistan', 'Bangladesh', 'Saudi Arabia', 'India', 'Iran', 'South Korea']

In [16]:
fruits = [
    'Mango',
    'Banana',
    'Apple',
    'Watermelon'
]

vagitables = [
    'Potato',
    'cucumber',
    'Lady Finger'
]

# method-1
merged_list = fruits + vagitables
print(merged_list)
print("Apple" in merged_list)

# method-2
# vagitables.extend(fruits)
# print(vagitables)

# print("Apple" in vagitables)

['Mango', 'Banana', 'Apple', 'Watermelon', 'Potato', 'cucumber', 'Lady Finger']
True