### Task 1
-- Create a list of 5 student names.

- Add a new student using append().
- Insert one name at index 2.
- Remove one name using remove().
- Finally, sort the list.

In [2]:
student_names = ["Ali", "Adnan", "Shahid", "Hafiz", "Noman"]

student_names.append("Rizwan")

student_names

['Ali', 'Adnan', 'Shahid', 'Hafiz', 'Noman', 'Rizwan']

In [3]:
student_names.insert(2, "Nabeel")

student_names

['Ali', 'Adnan', 'Nabeel', 'Shahid', 'Hafiz', 'Noman', 'Rizwan']

In [4]:
student_names.remove("Hafiz")

student_names

['Ali', 'Adnan', 'Nabeel', 'Shahid', 'Noman', 'Rizwan']

In [6]:
student_names.sort()
student_names

['Adnan', 'Ali', 'Nabeel', 'Noman', 'Rizwan', 'Shahid']

### Task 2

-- Student Tasks (Without Solutions) Try these tasks on your own:
- Create a list of numbers and use pop() to remove the last two items.
- Make a list of 5 countries. Use insert() to add one at index 3, then use count() to count a specific country.
- Create a list of integers. Use sort() and then reverse() to show them in descending order.
- Use copy() to duplicate a list. Change one element in the copy and show that the original list remains unchanged.
- Combine two lists of fruits and vegetables and check if 'apple' is present in the combined list.

In [7]:
nums = [1,2,3,4,5,6,7,8]

nums.pop()
nums.pop()
nums

[1, 2, 3, 4, 5, 6]

In [ ]:
country_names = ['Pakistan', 'Bangladesh', 'China', 'Iran', 'South Korea']

country_names.insert(3, "India")

print(country_names)

['Pakistan', 'Bangladesh', 'China', 'India', 'Iran', 'South Korea']

In [11]:
copied_country_names = country_names.copy()

copied_country_names[2] = "Saudi Arabia"

print(country_names)
print(copied_country_names)

['Pakistan', 'Bangladesh', 'China', 'India', 'Iran', 'South Korea']
['Pakistan', 'Bangladesh', 'Saudi Arabia', 'India', 'Iran', 'South Korea']

In [16]:
fruits = [
    'Mango',
    'Banana',
    'Apple',
    'Watermelon'
]

vagitables = [
    'Potato',
    'cucumber',
    'Lady Finger'
]

# method-1
merged_list = fruits + vagitables
print(merged_list)
print("Apple" in merged_list)

# method-2
# vagitables.extend(fruits)
# print(vagitables)

# print("Apple" in vagitables)

['Mango', 'Banana', 'Apple', 'Watermelon', 'Potato', 'cucumber', 'Lady Finger']
True

# print all numbers from 1 to 15 and show their cubes

In [1]:
for num in range(1,16):
    print(f"the cube of {num} is {num**3}")

the cube of 1 is 1
the cube of 2 is 8
the cube of 3 is 27
the cube of 4 is 64
the cube of 5 is 125
the cube of 6 is 216
the cube of 7 is 343
the cube of 8 is 512
the cube of 9 is 729
the cube of 10 is 1000
the cube of 11 is 1331
the cube of 12 is 1728
the cube of 13 is 2197
the cube of 14 is 2744
the cube of 15 is 3375

### print only the names that start with 'A' from this list : ['Ali', 'Sara', 'Asad', 'Hina', 'Ahsan']

In [ ]:
names = ['Ali', 'Sara', 'Asad', 'Hina', 'Ahsan']

for name in names:
    for char in name:
        if char == 'A':
            print(name)

# kar tu dia hay per aproach achi naheen lag rahi

Ali
Asad
Ahsan

In [3]:
names = ['Ali', 'Sara', 'Asad', 'Hina', 'Ahsan']

for name in names:
    if name[0] == 'A':
            print(name)

Ali
Asad
Ahsan

# write a loop to find the sum of all even numbers between 50 and 100

In [ ]:
# if 50 and 100 inclusive

even_nums = []
for num in range(50,101):
    if num % 2 == 0:
        even_nums.append(num)

print("sum of all even number from 50 to 100 is",sum(even_nums))
print(even_nums)

sum of all even number from 50 to 100 is 1950
[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# if 50 and 100 exclusive

even_nums = []
for num in range(51,100):
    if num % 2 == 0:
        even_nums.append(num)

print("sum of all even number from 50 to 100 is",sum(even_nums))
print(even_nums)

sum of all even number from 50 to 100 is 1800
[52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

## write a loop to count how many upercase letters are in 'HelloPYTHON'

In [13]:
word = 'HelloPYTHON'

count = 0
for char in word:
    if char.isupper():
        count = count + 1

print(count)

7