# task 1

In [2]:
print("Rizwan Ahmed")
print(42)
print("Blue")

Rizwan Ahmed
42
Blue

# task 2

In [3]:
my_name = "Rizwan Ahmed"
age = 42

print(f"my name is {my_name}, my age is {age}")

my name is Rizwan Ahmed, my age is 42

# task 3

In [4]:
city = "Karachi"
country = "Pakistan"
print("I libe in " + city + ", " + country)

I libe in Karachi, Pakistan

# task 4

In [5]:
num1 = 4
num2 = 5

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

9
-1
20
0.8

# task 5

In [6]:
name = "Rizwan Ahmed"
age = 42
hobby = "coding"

print(f"My name is {name}, I am {age} years old and I love {hobby}.")

My name is Rizwan Ahmed, I am 42 years old and I love coding.

# task 6

In [7]:
x = 10
y = 3.5

print(x , y)

x, y = y, x

print(x , y)

10 3.5
3.5 10

# task 7

In [8]:
temp_cel = 35.5
temp_feh = (temp_cel * 9/5) + 32

print(f"Temperature in Celsius: {temp_cel}째C")
print(f"Temperature in Fahrenheit: {temp_feh}째F")

Temperature in Celsius: 35.5째C
Temperature in Fahrenheit: 95.9째F

# task 8

In [10]:
apple = 120
milk = 200
bread = 80

print("Apple =", apple)
print("Milk =", milk)
print("Bread =", bread)

Apple = 120
Milk = 200
Bread = 80

# task 9

In [12]:
length = 5
width = 7
area = length * width

print("Area of ractangle is ", area)
print(f"Area of ractangle with length {length} and width {width} is {area}.")

Area of ractangle is  35
Area of ractangle with length 5 and width 7 is 35.