# swapping the variable values

In [ ]:
# method 1

a = 3
b = 4
c = a
a= b
b = c
print(a, b)

4 3

In [ ]:
# method 2  Short hand method to swap values

a = 3
b = 4

a, b = b, a
print(a, b)

4 3

In [8]:
# printing values multiple times
print("Hello World! " * 5)

Hello World! Hello World! Hello World! Hello World! Hello World!

In [7]:
name = "Rizwan Ahmed"
age = 42
edu = "Bachlors"

print("I am ", name, "my age is", age, "and I have done" , edu)

I am  Rizwan Ahmed my age is 42 and I have done Bachlors

# operators
## mathametical operators in python

In [ ]:
# " + "
# " - "
# " * " 
# " / "
# " // "  Floor Division
# " % "  Modulus
# " ** "  Exponentiation

In [9]:
# concatination

print("2" + "2")

22

# type casting

In [12]:
val_1 = float(input("Enter value 1: "))
val_2 = float(input("Enter value 2: "))

print(val_1 + val_2)

6.0

# f- string

In [13]:
my_name = "Rizwan Ahmed"

print(f"My name is {my_name}")

My name is Rizwan Ahmed