In [1]:
import pandas as pd
import openpyxl

In [2]:
pd.read_csv("C:\SMIT-DS\misc_practice\police.csv")

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ecomw\AppData\Local\Temp\ipykernel_5800\1901343881.py:1: SyntaxWarning: invalid escape sequence '\S'
  pd.read_csv("C:\SMIT-DS\misc_practice\police.csv")

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [3]:
pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv")

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

##### pd.read_csv("file_path", header=None)
this header=None will consider no header of the columns and give index to all columns like it gives to rwo

In [4]:
# pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv", header=None)

#### and if we want to specify the header names we will give 
pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv", header=None, names=["stop date","stop_time", etc])

In [5]:
# pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv", header=None, names=['stop_date',	"stop_time",	"county_name",	"driver_gender",	"driver_age_raw",	"driver_age",	"driver_race",	"violation_raw",	"violation",	"search_conducted",	'search_type',	"stop_outcome",	"is_arrested",	"stop_duration",	"drugs_related_stop"])

In [6]:
df = pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv")

In [7]:
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

##### to read a text dile we have two options 
pd.read_csv(r"C:\SMIT-DS\misc_practice\police.txt", sep="\t")

or

pd.read_table(r"C:\SMIT-DS\misc_practice\police.txt")


note....
you can try these and see the diffence while alternatively used txt files via read_csv and csv file via read_table

## reading an excel file is a bit tricky

you need to install openpyxl
and the syntex will be 
pd.read_excel(r"C:\SMIT-DS\misc_practice\Placement_Master_Document.xlsx", sheet_name="sheet name to open")

if you will not give sheet name here it will open first sheet by default if there are several sheets present in your file

In [8]:
pd.read_excel(r"C:\SMIT-DS\misc_practice\Placement_Master_Document.xlsx", sheet_name="CPResources")

,Unnamed: 0,TLE Eliminators,Unnamed: 2,Unnamed: 3,YT / Priyansh's YT,"CP Sheet, Post Contest Solutions, Tips & Tricks and some Tutorials"
0,NaN,NaN,NaN,NaN,CP 31 Sheet,NaN
1,NaN,Shayan (IGM on Codeforces & ICPC World FInalist),NaN,NaN,YT,"Tutotrials, Podcasts with Top programmers, Con..."
2,NaN,NaN,NaN,NaN,Discord,NaN
3,NaN,Colin Galen (IGM & ICPC),NaN,NaN,YT,"majorly around pyscology around CP, And Number..."
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Sai Avinash (Google dublin),NaN,NaN,Maths for CP Playlist,NaN

### when working with big data set it only shows first five and last five rows usually but if we want to read all the data in output we will change few settings

pd.set_option('display.max.rows', row numbers)
pd.set_option('display.max.rows', 235)

In [9]:
df = pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv")
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [10]:
pd.set_option('display.max.rows', 400)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [12]:
df.shape

(91741, 15)

In [13]:
df.head() #this will give us first five values

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [14]:
df.head(10) #we can change the vlue

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [15]:
# similarly we have
df.tail()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [16]:
df["driver_gender"]

0        M
1        M
2        M
3        M
4        F
        ..
91736    M
91737    F
91738    M
91739    M
91740    M
Name: driver_gender, Length: 91741, dtype: object

##df.iloc[]

df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...                   index=['cobra', 'viper', 'sidewinder'],
...                   columns=['max_speed', 'shield'])
>>> df
            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [17]:
df.loc[4]

stop_date             2005-03-14
stop_time                  10:00
county_name                  NaN
driver_gender                  F
driver_age_raw            1984.0
driver_age                  21.0
driver_race                White
violation_raw           Speeding
violation               Speeding
search_conducted           False
search_type                  NaN
stop_outcome            Citation
is_arrested                False
stop_duration           0-15 Min
drugs_related_stop         False
Name: 4, dtype: object

In [18]:
df.iloc[4]

# loc and iloc look the same but iloc only search for intiger values while loc search for string values if we have changed the index to  any string value

stop_date             2005-03-14
stop_time                  10:00
county_name                  NaN
driver_gender                  F
driver_age_raw            1984.0
driver_age                  21.0
driver_race                White
violation_raw           Speeding
violation               Speeding
search_conducted           False
search_type                  NaN
stop_outcome            Citation
is_arrested                False
stop_duration           0-15 Min
drugs_related_stop         False
Name: 4, dtype: object

# Filtering and ordering in pandas

### Filltering

In [19]:
df[df['driver_age'] <= 20]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
36,2005-09-30,09:30,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
39,2005-09-30,20:17,NaN,M,1988.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91686,2015-12-29,12:11,NaN,M,1996.0,19.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91714,2015-12-30,17:39,NaN,M,1996.0,19.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
91724,2015-12-31,07:27,NaN,M,1997.0,18.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91727,2015-12-31,09:17,NaN,F,1995.0,20.0,White,Speeding,Speeding,False,NaN,Warning,False,16-30 Min,False
91730,2015-12-31,15:36,NaN,F,1996.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False

#### looking for a specific value or filtering by a specific value

In [20]:
specific_voilation = ['Registration/plates', 'Equipment']

df[df['violation'].isin(specific_voilation)]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
17,2005-07-19,23:30,NaN,M,1979.0,26.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
35,2005-09-30,00:15,NaN,M,1978.0,27.0,White,Equipment/Inspection Violation,Equipment,False,NaN,N/D,False,0-15 Min,False
40,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Driver,True,16-30 Min,True
41,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Citation,False,30+ Min,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91723,2015-12-31,07:14,NaN,M,1978.0,37.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91729,2015-12-31,14:21,NaN,F,1988.0,27.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
91730,2015-12-31,15:36,NaN,F,1996.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91733,2015-12-31,19:55,NaN,F,1974.0,41.0,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False

#### using contains method

In [21]:
df[df['violation'].str.contains("Equipment")] # having problem but we can check

ValueError: Cannot mask with non-boolean array containing NA / NaN values

### we can set index

In [ ]:
df2 = df.set_index('stop_time')
df2

,stop_date,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
stop_time,,,,,,,,,,,,,,
01:55,2005-01-02,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
08:15,2005-01-18,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
23:15,2005-01-23,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
17:15,2005-02-20,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
10:00,2005-03-14,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20:27,2015-12-31,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
20:35,2015-12-31,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
20:45,2015-12-31,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
21:42,2015-12-31,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
22:46,2015-12-31,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [ ]:
df2.filter(items=["driver_age","driver_race"]) # default axis= 1 but we can change

           driver_age driver_race
stop_time
01:55            20.0       White
08:15            40.0       White
23:15            33.0       White
17:15            19.0       White
10:00            21.0       White
...               ...         ...
20:27            29.0       White
20:35            33.0       White
20:45            23.0       White
21:42            22.0       White
22:46            56.0    Hispanic

[91741 rows x 2 columns]

In [ ]:
df2.filter(items=["driver_age"], axis = 0) # haing some indexing issues but its gonna work on df

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
df.filter(items=["driver_age", "driver_race"], axis = 0)

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop]
Index: []

In [23]:
df.filter(like= 'driver_age', axis=1)

       driver_age_raw  driver_age
0              1985.0        20.0
1              1965.0        40.0
2              1972.0        33.0
3              1986.0        19.0
4              1984.0        21.0
...               ...         ...
91736          1986.0        29.0
91737          1982.0        33.0
91738          1992.0        23.0
91739          1993.0        22.0
91740          1959.0        56.0

[91741 rows x 2 columns]

# Order

1) df[df['driver_age'] < 20].sort_values(by='driver_age')
2) by this way we can order the dataframe by one column and accending order

3) df[df['driver_age'] < 20].sort_values(by='driver_age', ascending=False)
4) by making ascending False we can reverse the order in descending order by default it ascending=True

In [ ]:

df[df['driver_age'] < 20].sort_values(by='driver_age')

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
10500,2006-09-30,01:30,NaN,M,1991.0,15.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
45988,2010-11-10,19:39,NaN,F,1995.0,15.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False
18357,2007-07-04,00:40,NaN,F,1992.0,15.0,White,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,0-15 Min,False
17771,2007-06-11,12:30,NaN,M,1992.0,15.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
25294,2008-04-21,11:19,NaN,M,1993.0,15.0,Hispanic,Other Traffic Violation,Moving violation,True,Incident to Arrest,Arrest Driver,True,30+ Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91686,2015-12-29,12:11,NaN,M,1996.0,19.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91714,2015-12-30,17:39,NaN,M,1996.0,19.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91730,2015-12-31,15:36,NaN,F,1996.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False

In [25]:
df[df['driver_age'] < 20].sort_values(by='driver_age', ascending=False)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
91730,2015-12-31,15:36,NaN,F,1996.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
36,2005-09-30,09:30,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91714,2015-12-30,17:39,NaN,M,1996.0,19.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45988,2010-11-10,19:39,NaN,F,1995.0,15.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False
18357,2007-07-04,00:40,NaN,F,1992.0,15.0,White,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,0-15 Min,False
25294,2008-04-21,11:19,NaN,M,1993.0,15.0,Hispanic,Other Traffic Violation,Moving violation,True,Incident to Arrest,Arrest Driver,True,30+ Min,False
17771,2007-06-11,12:30,NaN,M,1992.0,15.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
10500,2006-09-30,01:30,NaN,M,1991.0,15.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False

In [ ]:
df[df['driver_age'] < 20].sort_values(by=['driver_age', 'violation'], ascending=False)


## in this case we will have two colums by which data frame is going to be ordered 
# there is one thing noteable that when we pass a list in by=[] it gives prefernce to the first item in the list and sorts the data frame by it then the second item
# we can make it customized like we can pass which one to be sorted and which one not in passing a list of boolean values in ascending=[]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
36,2005-09-30,09:30,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
59,2005-10-01,19:00,NaN,M,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65,2005-10-01,20:35,NaN,M,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
66,2005-10-01,23:10,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17771,2007-06-11,12:30,NaN,M,1992.0,15.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
10500,2006-09-30,01:30,NaN,M,1991.0,15.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
18357,2007-07-04,00:40,NaN,F,1992.0,15.0,White,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,0-15 Min,False
25294,2008-04-21,11:19,NaN,M,1993.0,15.0,Hispanic,Other Traffic Violation,Moving violation,True,Incident to Arrest,Arrest Driver,True,30+ Min,False
45988,2010-11-10,19:39,NaN,F,1995.0,15.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False

# indexing

### 1st method is by giving index_column

In [4]:
import pandas as pd

In [5]:
df3 = pd.read_csv(r"C:\SMIT-DS\misc_practice\car_data.csv", index_col="name")

In [10]:
df3

,company,year,Price,kms_driven,fuel_type
name,,,,,
Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...
Ta,Tara,zest,"3,10,000",NaN,NaN
Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

## to reset to the default number index

In [11]:
df3.reset_index(inplace=True)

In [ ]:
df3

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [12]:
df3.set_index('name') # but this is not going to change the orignal data frame

,company,year,Price,kms_driven,fuel_type
name,,,,,
Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...
Ta,Tara,zest,"3,10,000",NaN,NaN
Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [ ]:
df3

,company,year,Price,kms_driven,fuel_type
name,,,,,
Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...
Ta,Tara,zest,"3,10,000",NaN,NaN
Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [13]:
df3.set_index('name', inplace=True)
# see now  the orignal data frame is changed

In [ ]:
df3

,company,year,Price,kms_driven,fuel_type
name,,,,,
Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...
Ta,Tara,zest,"3,10,000",NaN,NaN
Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [14]:
df3.reset_index(inplace=True)

In [15]:
df3

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

### Multiple indexing

In [16]:
df3.set_index(['name','year'], inplace=True)

In [17]:
df3

,,company,Price,kms_driven,fuel_type
name,year,,,,
Hyundai Santro Xing XO eRLX Euro III,2007,Hyundai,"80,000","45,000 kms",Petrol
Mahindra Jeep CL550 MDI,2006,Mahindra,"4,25,000",40 kms,Diesel
Maruti Suzuki Alto 800 Vxi,2018,Maruti,Ask For Price,"22,000 kms",Petrol
Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,Hyundai,"3,25,000","28,000 kms",Petrol
Ford EcoSport Titanium 1.5L TDCi,2014,Ford,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...
Ta,zest,Tara,"3,10,000",NaN,NaN
Tata Zest XM Diesel,2018,Tata,"2,60,000","27,000 kms",Diesel
Mahindra Quanto C8,2013,Mahindra,"3,90,000","40,000 kms",Diesel
Honda Amaze 1.2 E i VTEC,2014,Honda,"1,80,000",Petrol,NaN
Chevrolet Sail 1.2 LT ABS,2014,Chevrolet,"1,60,000",Petrol,NaN

In [18]:
df3.sort_index()

,,company,Price,kms_driven,fuel_type
name,year,,,,
2012 Tata Sumo Gold f,sell,2012,"2,50,000",NaN,NaN
7 SEATER MAHINDRA BOLERO IN VERY GOOD,D...,7,Ask For Price,NaN,NaN
9 SEATER MAHINDRA BOL,", Ac",9,Ask For Price,NaN,NaN
Any type car avaiabel hare...comercica,r...,Any,"1,70,000",NaN,NaN
Audi A3 Cabriolet 40 TFSI,2015,Audi,"31,00,000","12,516 kms",Petrol
...,...,...,...,...,...
tata Indica,sale,tata,"1,30,000",NaN,NaN
tata zest 2017 f,sale,tata,"4,50,000",NaN,NaN
urgent sale Ta,Sumo,urgent,"2,20,000",NaN,NaN
urgent sell my Mahindra qu,o c4,urgent,"3,50,000",NaN,NaN
very good condition tata bolts are av,able,very,"2,00,000",NaN,NaN

In [19]:
df3.sort_index(ascending=False)

,,company,Price,kms_driven,fuel_type
name,year,,,,
very good condition tata bolts are av,able,very,"2,00,000",NaN,NaN
urgent sell my Mahindra qu,o c4,urgent,"3,50,000",NaN,NaN
urgent sale Ta,Sumo,urgent,"2,20,000",NaN,NaN
tata zest 2017 f,sale,tata,"4,50,000",NaN,NaN
tata Indica,sale,tata,"1,30,000",NaN,NaN
...,...,...,...,...,...
Audi A3 Cabriolet 40 TFSI,2015,Audi,"31,00,000","12,516 kms",Petrol
Any type car avaiabel hare...comercica,r...,Any,"1,70,000",NaN,NaN
9 SEATER MAHINDRA BOL,", Ac",9,Ask For Price,NaN,NaN
7 SEATER MAHINDRA BOLERO IN VERY GOOD,D...,7,Ask For Price,NaN,NaN
2012 Tata Sumo Gold f,sell,2012,"2,50,000",NaN,NaN

In [20]:
df3.sort_index(ascending=[False, True])

,,company,Price,kms_driven,fuel_type
name,year,,,,
very good condition tata bolts are av,able,very,"2,00,000",NaN,NaN
urgent sell my Mahindra qu,o c4,urgent,"3,50,000",NaN,NaN
urgent sale Ta,Sumo,urgent,"2,20,000",NaN,NaN
tata zest 2017 f,sale,tata,"4,50,000",NaN,NaN
tata Indica,sale,tata,"1,30,000",NaN,NaN
...,...,...,...,...,...
Audi A3 Cabriolet 40 TFSI,2015,Audi,"31,00,000","12,516 kms",Petrol
Any type car avaiabel hare...comercica,r...,Any,"1,70,000",NaN,NaN
9 SEATER MAHINDRA BOL,", Ac",9,Ask For Price,NaN,NaN
7 SEATER MAHINDRA BOLERO IN VERY GOOD,D...,7,Ask For Price,NaN,NaN
2012 Tata Sumo Gold f,sell,2012,"2,50,000",NaN,NaN