In [2]:
import pandas as pd

# Group by function and Agregating

In [3]:
df = pd.read_csv(r"C:\SMIT-DS\misc_practice\practicing_pandas\PandasYouTubeSeries-main\Flavors.csv")

In [4]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [5]:
group_by_frame = df.groupby("Base Flavor")

In [6]:
group_by_frame

In [7]:
# compute mean only for numeric columns to avoid TypeError on object columns
group_by_frame.mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [7]:
# one line syntax only

df.groupby("Base Flavor").mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [8]:
#this is goona count the aggregated rows

df.groupby("Base Flavor").count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [9]:

df.groupby("Base Flavor").min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [10]:

df.groupby("Base Flavor").max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [11]:

df.groupby("Base Flavor").sum(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

### There is an aggregation function to run multiple aggregations at once

Note: `Base Flavor` is a non-numeric (string) column, so `mean`/`sum` don't make sense for it. Use `agg` on numeric columns or for counts.

Examples:
- df.groupby("Base Flavor").size()  # count rows per group
- df.groupby("Base Flavor").agg({"Texture Rating": ["mean", "max", "min", "sum"]})  # aggregate a specific numeric column

Or aggregate all numeric columns:
- numeric_cols = df.select_dtypes(include="number").columns

- df.groupby("Base Flavor")[numeric_cols].agg(["mean", "max", "min", "sum"])

                "##### Let's try these:",

: 
,
: 
,
: {
: 

: [
,
,
Base Flavor").size()

# Aggregate a specific numeric column, e.g. Texture Rating
df.groupby("Base Flavor").agg({"Texture Rating": ["mean", "max", "min", "sum"]})

# Aggregate all numeric columns
numeric_cols = df.select_dtypes(include="number").columns
df.groupby("Base Flavor")[numeric_cols].agg(["mean", "max", "min", "sum"])

In [12]:
df.groupby("Base Flavor").agg({"Texture Rating": ["mean", "max", "min", "sum"]})

            Texture Rating
                      mean  max  min   sum
Base Flavor
Chocolate         7.233333  7.6  7.0  21.7
Vanilla           5.650000  8.0  3.4  33.9

In [13]:
numeric_cols = df.select_dtypes(include="number").columns
df.groupby("Base Flavor")[numeric_cols].agg(["mean", "max", "min", "sum"])

            Flavor Rating                  Texture Rating                  \
                     mean   max  min   sum           mean  max  min   sum
Base Flavor
Chocolate             8.4   8.8  8.2  25.2       7.233333  7.6  7.0  21.7
Vanilla               5.7  10.0  2.3  34.2       5.650000  8.0  3.4  33.9

            Total Rating
                    mean   max   min   sum
Base Flavor
Chocolate          15.70  16.6  15.2  47.1
Vanilla            11.35  18.0   5.7  68.1