In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('car_data.csv')

In [ ]:
data

# Data Cleaning
    - Missing Values
           Drop
         - Drop the records having missing data
         - Drop the columns having missing data
           Fill 
         - Fill the missing values
               - Hard coded value
               - Calculated Values
               - Following or Preceding 
    - Duplicate Records
    - Outlier

In [ ]:
data.shape

# Missing Values: isna()   isnull()

In [ ]:
data.isna()

In [ ]:
data.isna().sum()

In [ ]:
data.isnull()

In [ ]:
data["kms_driven"]

In [ ]:
data["kms_driven"].unique()

In [ ]:
data["kms_driven"].isna().sum()

## Lets drop all the mising values

#### axis=0. means horizontal drop
#### axis=1, means vertical drop

In [ ]:
data.dropna(axis=0, inplace=True)

In [ ]:
data.isna().sum()

In [ ]:
data.dropna(axis=1)

#### drop only those records where all the values are missing dropna(how='all', axis=0) drops horizontal data is all values are null
#### drop only those records where all the values are missing dropna(how='all', axis=1) drops vertical data is all values are null

In [ ]:
# drop only those records where all the values are missing
data.dropna(how='all',axis=0)

In [ ]:
data.isna().sum()

In [ ]:
data.shape[1] * 0.70

In [ ]:
int(data.shape[1] * 0.70)

In [ ]:
# retain all the records where at least 70% value are valid
data.dropna(axis=0, thresh=int(data.shape[1]*.70)).isnull().sum()

In [ ]:
# drop all those records where any value missing in year price or kms_driven
data.dropna(axis=0, subset=['year','Price','kms_driven']).isna().sum()

# Filling Missing Data

In [ ]:
data.fillna(0)

##### Central Tendency
           - if there is outlier in data we will use median
           - if there is not outlier in data we will use mean
           - for categorical e will use mode
##### Bfill(), ffill()