In [19]:
import pandas as pd
import openpyxl

In [ ]:
pd.read_csv("C:\SMIT-DS\misc_practice\police.csv")

In [ ]:
pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv")

##### pd.read_csv("file_path", header=None)
this header=None will consider no header of the columns and give index to all columns like it gives to rwo

In [10]:
# pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv", header=None)

#### and if we want to specify the header names we will give 
pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv", header=None, names=["stop date","stop_time", etc])

In [11]:
# pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv", header=None, names=['stop_date',	"stop_time",	"county_name",	"driver_gender",	"driver_age_raw",	"driver_age",	"driver_race",	"violation_raw",	"violation",	"search_conducted",	'search_type',	"stop_outcome",	"is_arrested",	"stop_duration",	"drugs_related_stop"])

In [12]:
df = pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv")

In [ ]:
df

##### to read a text dile we have two options 
pd.read_csv(r"C:\SMIT-DS\misc_practice\police.txt", sep="\t")

or

pd.read_table(r"C:\SMIT-DS\misc_practice\police.txt")


note....
you can try these and see the diffence while alternatively used txt files via read_csv and csv file via read_table

## reading an excel file is a bit tricky

you need to install openpyxl
and the syntex will be 
pd.read_excel(r"C:\SMIT-DS\misc_practice\Placement_Master_Document.xlsx", sheet_name="sheet name to open")

if you will not give sheet name here it will open first sheet by default if there are several sheets present in your file

In [20]:
pd.read_excel(r"C:\SMIT-DS\misc_practice\Placement_Master_Document.xlsx", sheet_name="CPResources")

,Unnamed: 0,TLE Eliminators,Unnamed: 2,Unnamed: 3,YT / Priyansh's YT,"CP Sheet, Post Contest Solutions, Tips & Tricks and some Tutorials"
0,NaN,NaN,NaN,NaN,CP 31 Sheet,NaN
1,NaN,Shayan (IGM on Codeforces & ICPC World FInalist),NaN,NaN,YT,"Tutotrials, Podcasts with Top programmers, Con..."
2,NaN,NaN,NaN,NaN,Discord,NaN
3,NaN,Colin Galen (IGM & ICPC),NaN,NaN,YT,"majorly around pyscology around CP, And Number..."
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Sai Avinash (Google dublin),NaN,NaN,Maths for CP Playlist,NaN

### when working with big data set it only shows first five and last five rows usually but if we want to read all the data in output we will change few settings

pd.set_option('display.max.rows', row numbers)
pd.set_option('display.max.rows', 235)

In [27]:
df = pd.read_csv(r"C:\SMIT-DS\misc_practice\police.csv")
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [21]:
pd.set_option('display.max.rows', 400)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [28]:
df.shape

(91741, 15)

In [30]:
df.head() #this will give us first five values

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [31]:
df.head(10) #we can change the vlue

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [32]:
# similarly we have
df.tail()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [34]:
df["driver_gender"]

0        M
1        M
2        M
3        M
4        F
        ..
91736    M
91737    F
91738    M
91739    M
91740    M
Name: driver_gender, Length: 91741, dtype: object

In [35]:
df.loc[4]

stop_date             2005-03-14
stop_time                  10:00
county_name                  NaN
driver_gender                  F
driver_age_raw            1984.0
driver_age                  21.0
driver_race                White
violation_raw           Speeding
violation               Speeding
search_conducted           False
search_type                  NaN
stop_outcome            Citation
is_arrested                False
stop_duration           0-15 Min
drugs_related_stop         False
Name: 4, dtype: object

In [38]:
df.iloc[4]

# loc and iloc look the same but iloc only search for intiger values while loc search for string values if we have changed the index to  any string value

stop_date             2005-03-14
stop_time                  10:00
county_name                  NaN
driver_gender                  F
driver_age_raw            1984.0
driver_age                  21.0
driver_race                White
violation_raw           Speeding
violation               Speeding
search_conducted           False
search_type                  NaN
stop_outcome            Citation
is_arrested                False
stop_duration           0-15 Min
drugs_related_stop         False
Name: 4, dtype: object

# Filtering and ordering in pandas

### Filltering

In [40]:
df[df['driver_age'] <= 20]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
36,2005-09-30,09:30,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
39,2005-09-30,20:17,NaN,M,1988.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91686,2015-12-29,12:11,NaN,M,1996.0,19.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91714,2015-12-30,17:39,NaN,M,1996.0,19.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
91724,2015-12-31,07:27,NaN,M,1997.0,18.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91727,2015-12-31,09:17,NaN,F,1995.0,20.0,White,Speeding,Speeding,False,NaN,Warning,False,16-30 Min,False
91730,2015-12-31,15:36,NaN,F,1996.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False

#### looking for a specific value or filtering by a specific value

In [41]:
specific_voilation = ['Registration/plates', 'Equipment']

df[df['violation'].isin(specific_voilation)]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
17,2005-07-19,23:30,NaN,M,1979.0,26.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
35,2005-09-30,00:15,NaN,M,1978.0,27.0,White,Equipment/Inspection Violation,Equipment,False,NaN,N/D,False,0-15 Min,False
40,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Driver,True,16-30 Min,True
41,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Citation,False,30+ Min,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91723,2015-12-31,07:14,NaN,M,1978.0,37.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91729,2015-12-31,14:21,NaN,F,1988.0,27.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
91730,2015-12-31,15:36,NaN,F,1996.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91733,2015-12-31,19:55,NaN,F,1974.0,41.0,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False

#### using contains method

In [48]:
df[df['violation'].str.contains("Equipment")] # having problem but we can check

ValueError: Cannot mask with non-boolean array containing NA / NaN values

### we can set index

In [51]:
df2 = df.set_index('stop_time')
df2

,stop_date,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
stop_time,,,,,,,,,,,,,,
01:55,2005-01-02,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
08:15,2005-01-18,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
23:15,2005-01-23,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
17:15,2005-02-20,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
10:00,2005-03-14,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20:27,2015-12-31,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
20:35,2015-12-31,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
20:45,2015-12-31,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
21:42,2015-12-31,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
22:46,2015-12-31,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [ ]:
df2.filter(items=["driver_age","driver_race"]) # default axis= 1 but we can change

           driver_age driver_race
stop_time
01:55            20.0       White
08:15            40.0       White
23:15            33.0       White
17:15            19.0       White
10:00            21.0       White
...               ...         ...
20:27            29.0       White
20:35            33.0       White
20:45            23.0       White
21:42            22.0       White
22:46            56.0    Hispanic

[91741 rows x 2 columns]

In [57]:
df2.filter(items=["driver_age"], axis = 0) # haing some indexing issues but its gonna work on df

ValueError: cannot reindex on an axis with duplicate labels

In [59]:
df.filter(items=["driver_age", "driver_race"], axis = 0)

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop]
Index: []